body{
    color: #5a6e6a;
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
}

h1{
    font-size: 5rem;
    margin-top: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    letter-spacing: 1.5px;
    color: #ffffff;
    
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #69d4cf;
    font-weight: normal;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color:#9E33F5;
}

hr{
    border: dotted #eaf6f6 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

a{
    color:#4E12E0 ;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;

}

a:hover{
    color: #eaf6f6;
}

.top-container{
    background: linear-gradient(130deg, #FF3EFF, #B423DE, #9E33F5, #6023DE, #3E29FF);
    position: relative;
    padding-top: 100px;
}

.mid-container{
   margin: 100px auto;
}

.contact-me{
    padding-bottom: 40px;
}

.pro-photo{
    padding-bottom: 10px;
}

.boy{
    width: 20%;
}

.intro{
    width: 30%;
    margin: auto;
}

.bottom-container{
   background:linear-gradient(130deg, #FF3EFF, #B423DE, #9E33F5, #6023DE, #3E29FF);
   margin: 40px auto 0px;
   padding: 30px 0 20px;
}

.hello{
    color: teal;
    font-weight: bold;
}

.my-skills{
    color: teal;
    font-weight: bold
}

.contact{
    color: teal;
    font-weight: bold
}

.copy-right{
    color: rgb(95, 38, 133);
    line-height: 10px;
    padding: 20px 0 0;
}

.skill-row{
    width: 50%;
    margin: 100px auto 100px auto ;
    text-align: left;
    line-height: 1.5;
}

.skill-img{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.camera-img{
    width: 25%;
    float: right;
    margin-left: 30px;
}

.btn {
    background: #FF3EFF;
    background-image: -webkit-linear-gradient(top, #FF3EFF, #3E29FF);
    background-image: -moz-linear-gradient(top, #FF3EFF, #3E29FF);
    background-image: -ms-linear-gradient(top, #FF3EFF, #3E29FF);
    background-image: -o-linear-gradient(top, #FF3EFF, #3E29FF);
    background-image: linear-gradient(to bottom, #FF3EFF, #3E29FF);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 16px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
   
  }
  
  .btn:hover {
    background: #29f8ff;
    background-image: -webkit-linear-gradient(top, #30c3c8, #28b945);
    background-image: -moz-linear-gradient(top, #30c3c8, #28b945);
    background-image: -ms-linear-gradient(top, #30c3c8, #28b945);
    background-image: -o-linear-gradient(top, #30c3c8, #28b945);
    background-image: linear-gradient(to bottom, #30c3c8, #28b945);
    text-decoration: none;
  }